footer {

	width: 100%;
	background-color: $background-color_6;

	p {
		color: $color_1;
	}

	h3 {
		font-family: $font-family_5;
		letter-spacing: 0.1rem;
	}
    .interL{
		margin-left: 0.5rem;
	}
	a {
		color: $color_1;
		text-decoration: none;
        margin-left: 0.5rem;
		&:hover {
			text-decoration: underline #CFAE6E;
		}
	}

	>div {
		margin-left: 2rem;
		max-width: 1500px;
		display: flex;
		justify-content: space-between;
		margin: auto;
		padding-top: 1rem;
	}

	img {
		width: 2rem;
		height: 2rem;
		margin-top: 0.5rem;
	}
	
}

.phone {
	display: flex;
    align-items: center;
}

.gmail {
	display: flex;
    align-items: center;
}

.insta {
	display: flex;
	align-items: center;
}

.fb {
	display: flex;
	align-items: center;
}

h3 {
	color: $color_1;
}

.comptefb {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_5;
}

.compte {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_2;
}

.num {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_2;
}

.inter {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_5;
}

@media screen and (max-width:824px) {
	footer {
		div {
			display: block;
			text-align: center;
			align-items: center;
			justify-content: center;

			h3 {
				margin: 1rem 0;
			}

			
		}
	}
}

@media screen and (max-width:415px) {
    footer {
		div {
			display: block;
			text-align: center;
			align-items: center;
			justify-content: center;

			h3 {
				margin: 1rem 0;
			}

			
		}
	}
}